header .navbar-default .navbar-collapse {
  padding: 5px; }
header .navbar-default {
  background: rgba(0, 0, 0, 0.28);
  border: 0; }
  header .navbar-default .navbar-nav li {
    padding-top: 2%; }
    header .navbar-default .navbar-nav li a {
      color: white;
      font-weight: bold; }
header h1 {
  margin-top: 1%;
  font-size: 1.8em;
  color: #FED136;
  font-family: Kaushan Script; }

.bg-agency {
  background: url("../../img/header-bg.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50%;
  padding: 23% 5px;
  text-align: center;
  color: white; }
  .bg-agency h2 {
    font-family: Droid Serif;
    font-style: italic; }
  .bg-agency h1 {
    font-family: Montserrat;
    font-weight: bold;
    font-size: 3em; }
  .bg-agency button {
    background: #FED136;
    color: white;
    border-radius: 5px;
    padding: 1% 2%;
    border: 0;
    margin-top: 5%;
    font-weight: bold; }
    .bg-agency button:hover {
      background: #FFC107; }

#services {
  padding-top: 10%;
  padding-bottom: 10%;
  text-align: center;
  font-family: Montserrat; }
  #services i {
    font-size: 3em;
    line-height: 100px; }
  #services .icon-services {
    background: #FED136;
    color: white;
    border-radius: 100px;
    width: 100px; }
  #services .text-services {
    margin-bottom: 5%; }
    #services .text-services h2 {
      font-weight: bold; }
    #services .text-services p {
      font-family: Droid Serif;
      font-style: italic;
      color: #828597; }
  #services .row:nth-child(2) h4 {
    padding: 3% 0;
    font-weight: bold; }
  #services .row:nth-child(2) p {
    color: #828597;
    font-family: Droid Serif; }

#portfolio {
  background: #F7F7F7;
  padding-bottom: 10%;
  padding-top: 10%;
  text-align: center;
  font-family: Montserrat; }
  #portfolio h2 {
    font-weight: bold; }
  #portfolio p {
    padding: 2% 0; }
  #portfolio img {
    width: 100%; }
  #portfolio .text-portfolio {
    background: white;
    padding: 2% 1%;
    margin-bottom: 15%; }
    #portfolio .text-portfolio h4 {
      font-weight: bold; }
    #portfolio .text-portfolio p {
      font-family: Droid Serif;
      color: #828597; }

/*ABOUT US*/
#about img {
  margin-bottom: 25%;
  border-radius: 100px;
  width: 80%;
  border: 4px solid #F1F1F1; }
#about .text-left {
  position: relative;
  left: 650px; }

/*TEAM*/
.team {
  text-align: center;
  padding: 10% 0;
  background: #F7F7F7; }
  .team h2 {
    font-weight: bold; }
  .team p, .team span {
    font-family: Droid Serif;
    color: #828597; }
  .team p:nth-child(3) {
    padding: 0 20%;
    margin-top: 5%; }
  .team img {
    margin-top: 10%;
    width: 60%;
    border-radius: 100%;
    border: 5px solid white; }
  .team li {
    list-style: none;
    display: inline-block;
    text-align: center; }
  .team .social-media {
    margin-top: 5%; }
  .team .icon-circle {
    border-radius: 100%;
    background-color: #303333;
    color: white;
    font-size: 1.2em;
    position: relative;
    display: inline-block;
    width: 1.7em;
    height: 1.7em;
    line-height: 1.9em;
    vertical-align: middle;
    margin: 0 2%; }

/*LOGOS*/
.logos {
  padding: 5% 0; }
  .logos img {
    width: 80%; }

/*CONTACT US*/
.bg-contact {
  background: black;
  background-image: url("../../img/map-image.png");
  background-repeat: no-repeat;
  background-size: 100%;
  height: 50%;
  padding: 8% 5px; }
  .bg-contact h2 {
    font-weight: bold;
    color: white;
    text-align: center; }
  .bg-contact p {
    font-family: Droid Serif;
    color: white;
    text-align: center;
    font-style: italic;
    margin-bottom: 5%; }
  .bg-contact input {
    width: 85%;
    margin-bottom: 5%;
    float: right;
    padding: 2% 2%;
    border-radius: 5px;
    border: 0px; }
  .bg-contact textarea {
    border: 0;
    border-radius: 5px;
    padding: 4% 0 0 3%; }

/*FOOTER*/
footer {
  padding: 3% 0; }
  footer p {
    color: black; }
  footer .social-circle {
    border-radius: 100%;
    background-color: #303333;
    color: white;
    font-size: 1.2em;
    position: relative;
    display: inline-block;
    width: 1.7em;
    height: 1.7em;
    line-height: 1.9em;
    margin: 0 2%;
    text-align: center; }
    footer .social-circle:hover {
      color: #FED136; }
  footer a {
    text-decoration: none;
    color: #FED136; }
    footer a:hover {
      color: black; }

/*# sourceMappingURL=main.css.map */
