doctype
html
	head
		meta(charset="utf-8")
		title AGENCY THEME
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" type="text/css")
		link(rel="stylesheet" href='https://fonts.googleapis.com/css?family=Kaushan+Script' type='text/css')
		link(rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300', type='text/css')
		link(rel="stylesheet" href='https://fonts.googleapis.com/css?family=Droid+Serif:700italic,400italic,400,700', type='text/css')
		link(rel="stylesheet" href="assets/font-awesome/css/font-awesome.css")
		link(rel="stylesheet" href="assets/css/bootstrap.css")
		link(rel="stylesheet" href="assets/css/main.css")
	body
		header
			nav.navbar.navbar-default.navbar-fixed-top
				.container
					.navbar-header
						button.navbar-toggle.collapsed( type="button", data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
							span.sr-only Tooggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href="index.html")
								a(href="http://laboratoria.la/").title Start Bootstrap
					.collapse.navbar-collapse#bs-example-navbar-collapse-1
						ul.nav.navbar-nav.navbar-right
							li
								a(href="#") SERVICES
							li
								a(href="#") PORTFOLIO
							li
								a(href="#") ABOUT
							li
								a(href="#") TEAM
							li
								a(href="#") CONTACT
		section
			.bg-agency
				.container
					h2 Welcome To Our Studio!
					h1 IT'S NICE TO MEET YOU
					a
						button TELL ME MORE
		section#services
			.container
				.row.text-services
					h2 SERVICES
					p Lorem ipsum dolor sit, consectetur
				.row
					.col-md-4
						i.icon-services.fa.fa-shopping-cart
						h4 E-Commerce
						p Lorem ipsum dolor sit, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
					.col-md-4
						i.icon-services.fa.fa-laptop
						h4 Responsive Design
						p Lorem ipsum dolor sit, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
					.col-md-4
						i.icon-services.fa.fa-lock
						h4 Web Security
						p Lorem ipsum dolor sit, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
		section#portfolio
			.container
				.row
					h2 PORTFOLIO
					p Lorem ipsum dolor sit, consectetur
					.col-sm-4.col-md-4
						img(src="img/portfolio/roundicons.png")
						.text-portfolio
							h4 Round Icons
							p Graphic Design
					.col-sm-4.col-md-4
						img(src="img/portfolio/startup-framework.png")
						.text-portfolio
							h4 Startup Framework
							p website Design
					.col-sm-4.col-md-4
						img(src="img/portfolio/treehouse.png")
						.text-portfolio
							h4 Treehouse
							p website Design
				.row
					.col-sm-4.col-md-4
						img(src="img/portfolio/golden.png")
						.text-portfolio
							h4 Golden
							p website Design
					.col-sm-4.col-md-4
						img(src="img/portfolio/escape.png")
						.text-portfolio
							h4 Escape
							p website Design
					.col-sm-4.col-md-4
						img(src="img/portfolio/dreams.png")
						.text-portfolio
							h4 Dreams
							p website Design
		section#about
			.container
				h2 ABOUT
				p Lorem ipsum dolor sit, consectetur
				.row
					.col-xs-12.col-sm-5
						.text-timeline.text-right
							h3 2009-2011
							h3 Our Humble Beginnings
							p Lorem ipsum dolor sit, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero, sed, incidunt et ea quo dolore laudantium consectetur!
					.col-hidden-xs.col-sm-2
								img(src="img/about/1.jpg").text-center
				.row
					.col-xs-12.col-sm-5
						.text-timeline.text-left
								h3 MARCH 2011
								h3 An agency is Born
								p Lorem ipsum dolor sit, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero, sed, incidunt et ea quo dolore laudantium consectetur!
					.col-hidden-xs.col-sm-2
								img(src="img/about/2.jpg").text-center
				.row
					.col-xs-12.col-sm-5
						.text-timeline.text-right
								h3 DECEMBER 2012
								h3 Transition to Full Service
								p Lorem ipsum dolor sit, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero, sed, incidunt et ea quo dolore laudantium consectetur!
					.col-hidden-xs.col-sm-2
								img(src="img/about/3.jpg").text-center
				.row
					.col-xs-12.col-sm-5
						.text-timeline.text-left
								h3 July 2014
								h3 Phase Two Expansion
								p Lorem ipsum dolor sit, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero, sed, incidunt et ea quo dolore laudantium consectetur!
					.col-hidden-xs.col-sm-2
								img(src="img/about/2.jpg").text-center
		section.team
			.container
				.text-amazing
					h2 OUR AMAZING TEAM
					p Lorem ipsum dolor sit consectetur.
				.row
					.col-sm-4
						img(src="img/team/1.jpg")
						h4 Kay Garland
						span Lead Designer
						.social-media
							a(href="#").icon-circle.fa.fa-twitter
							a(href="#").icon-circle.fa.fa-facebook
							a(href="#").icon-circle.fa.fa-linkedin
					.col-sm-4
						img(src="img/team/2.jpg")
						h4 Larry Parker
						span Lead Marketer
						.social-media
							a(href="#").icon-circle.fa.fa-twitter
							a(href="#").icon-circle.fa.fa-facebook
							a(href="#").icon-circle.fa.fa-linkedin
					.col-md-4
						img(src="img/team/3.jpg")
						h4 Diana Pertersen
						span Lead Designer
						.social-media
							a(href="#").icon-circle.fa.fa-twitter
							a(href="#").icon-circle.fa.fa-facebook
							a(href="#").icon-circle.fa.fa-linkedin
				p Lorem ipsum dolor sit, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
		section.logos
			.container
				.row
					.col-md-3
						img(src="img/logos/envato.jpg")
					.col-md-3
						img(src="img/logos/designmodo.jpg")
					.col-md-3
						img(src="img/logos/themeforest.jpg")
					.col-md-3
						img(src="img/logos/creative-market.jpg")
		section.bg-contact
			.container
				h2 CONTACT US
				P Lorem ipsum dolor sit amet consectetur
				.row
					.col-md-6
						input(type="text" placeholder="YOUR NAME *")
						input(type="email" placeholder="YOUR EMAIL *")
						input(type="phone" placeholder="YOUR PHONE *")
					.col-md-6
						textarea(rows="8" cols="63%" placeholder="YOUR MESSAGE *")
		footer
			.container
				.row
					.col-md-4
						p Copyrigh &copy Your Website 2014
					.col-md-4
						.icon-footer
							a(href="#").social-circle.fa.fa-twitter
							a(href="#").social-circle.fa.fa-facebook
							a(href="#").social-circle.fa.fa-linkedin
					.col-md-4
						a
							p Privacy Policy Terms of Use



