doctype
html
	head
		meta(charset="utf-8")
		title AGENCY THEME
		link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat" type="text/css")
		link(rel="stylesheet" href='https://fonts.googleapis.com/css?family=Kaushan+Script' type='text/css')
		link(rel="stylesheet" href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300', type='text/css')
		link(rel="stylesheet" href='https://fonts.googleapis.com/css?family=Droid+Serif:700italic,400italic,400,700', type='text/css')
		link(rel="stylesheet" href="assets/font-awesome/css/font-awesome.css")
		link(rel="stylesheet" href="assets/css/bootstrap.css")
		link(rel="stylesheet" href="assets/css/main.css")
	body
		header
			nav.navbar.navbar-default.navbar-fixed-top
				.container
					.navbar-header
						button.navbar-toggle.collapsed( type="button", data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false")
							span.sr-only Tooggle navigation
							span.icon-bar
							span.icon-bar
							span.icon-bar
						a.navbar-brand(href="index.html")
								h1 Start Bootstrap
					.collapse.navbar-collapse#bs-example-navbar-collapse-1
						ul.nav.navbar-nav.navbar-right
							li
								a(href="#") SERVICES
							li
								a(href="#") PORTFOLIO
							li
								a(href="#") ABOUT
							li
								a(href="#") TEAM
							li
								a(href="#") CONTACT
		section
			.bg-agency
				.container
					h2 Welcome To Our Studio!
					h1 IT'S NICE TO MEET YOU
					a
						button TELL ME MORE
		section#services
			.container
				.row.text-services
					h3 SERVICES
					p Lorem ipsum dolor sit, consectetur
				.row
					.col-md-4
						i.icon-services.fa.fa-shopping-cart
						h4 E-Commerce
						p Lorem ipsum dolor sit, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
					.col-md-4
						i.icon-services.fa.fa-laptop
						h4 Responsive Design
						p Lorem ipsum dolor sit, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
					.col-md-4
						i.icon-services.fa.fa-lock
						h4 Web Security
						p Lorem ipsum dolor sit, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
		section#portfolio
			.container
				.row
					h3 PORTFOLIO
					p Lorem ipsum dolor sit, consectetur
					.col-md-4
						img(src="img/portfolio/roundicons.png")
						.text-portfolio
							h4 Round Icons
							p Graphic Design
					.col-md-4
						img(src="img/portfolio/startup-framework.png")
						.text-portfolio
							h4 Startup Framework
							p website Design
					.col-md-4
						img(src="img/portfolio/treehouse.png")
						.text-portfolio
							h4 Treehouse
							p website Design
				.row
					.col-md-4
						img(src="img/portfolio/golden.png")
						.text-portfolio
							h4 Golden
							p website Design
					.col-md-4
						img(src="img/portfolio/escape.png")
						.text-portfolio
							h4 Escape
							p website Design
					.col-md-4
						img(src="img/portfolio/dreams.png")
						.text-portfolio
							h4 Dreams
							p website Design
		section#about
			.container
				h3 ABOUT
				p Lorem ipsum dolor sit, consectetur
				.row
					.col-lg-12
						ul
							li
								h5 2009-2011
								h5 Our Humble Beginnings
								p Lorem ipsum dolor sit, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero, sed, incidunt et ea quo dolore laudantium consectetur!
								img(src="img/about/1.jpg")
							li
								h5 MARCH 2011
								h5 An agency is Born
								p Lorem ipsum dolor sit, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero, sed, incidunt et ea quo dolore laudantium consectetur!
								img(src="img/about/2.jpg")
							li
								h5 DECEMBER 2012
								h5 Transition to Full Service
								p Lorem ipsum dolor sit, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero, sed, incidunt et ea quo dolore laudantium consectetur!
								img(src="img/about/3.jpg")
							li
								h5 July 2014
								h5 Phase Two Expansion
								p Lorem ipsum dolor sit, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero, sed, incidunt et ea quo dolore laudantium consectetur!
								img(src="img/about/2.jpg")
							li
		section
			.container
				.text-amazing
					h3 OUR AMAZING TEAM
					p Lorem ipsum dolor sit consectetur.
				.row
					.col-md-4
						img(src="img/team/1.jpg")
						h5 Kay Garland
						p Lead Designer
						ul
							li
								a(href="#")
									i.fa.fa-twitter-square
							li
								a(href="#")
									i.fa.fa-facebook-square
							li
								a(href="#")
									i.fa.fa-linkedin-square
					.col-md-4
						img(src="img/team/2.jpg")
						h5 Larry Parker
						p Lead Marketer
						ul
							li
								a(href="#")
									i.fa.fa-twitter-square
							li
								a(href="#")
									i.fa.fa-facebook-square
							li
								a(href="#")
									i.fa.fa-linkedin-square
					.col-md-4
						img(src="img/team/3.jpg")
						h5 Diana Pertersen
						p Lead Designer
						ul
							li
								a(href="#")
									i.fa.fa-twitter-square
							li
								a(href="#")
									i.fa.fa-facebook-square
							li
								a(href="#")
									i.fa.fa-linkedin-square
				p Lorem ipsum dolor sit, consectetur adipisicing elit. Aut eaque, laboriosam veritatis, quos non quis ad perspiciatis, totam corporis ea, alias ut unde.
		section
			.container
				.row
					.col-md-3
						img(src="img/logos/envato.jpg")
					.col-md-3
						img(src="img/logos/designmodo.jpg")
					.col-md-3
						img(src="img/logos/themeforest.jpg")
					.col-md-3
						img(src="img/logos/creative-market.jpg")
		footer.bg-footer
			.contaner


