doctype
html
	head
		meta(charset="utf-8")
		title AGENCY THEME
		link(rel="stylesheet" href="assets/css/bootstrap.css")
		link(href="assets/css/main.css")
	body
		header
			nav.navbar.navbar-default.navbar-fixed-top
				.container
					.navbar-header
		section.bg-agency
			.container
				h2 Welcome To Our Studio!
				h1 IT'S NICE TO MEET YOU
				a
					button TELL ME MORE
		section.services
			.container
				.row
					.col-md-4
						i.icon-service
						h5 E-Commerce
						p Lorem ipsum dolor sit, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
					.col-md-4
						i.icon-service
						h5 Responsive Design
						p Lorem ipsum dolor sit, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
					.col-md-4
						i.icon-service
						h5 Web Security
						p Lorem ipsum dolor sit, consectetur adipisicing elit. Minima maxime quam architecto quo inventore harum ex magni, dicta impedit.
		section
			.container
				.row
					h3 PORTFOLIO
					p Lorem ipsum dolor sit, consectetur
					.col-md-4
						img(src="img/portfolio/roundicons.png")
					.col-md-4
						img(src="img/portfolio/startup-framework.png")
					.col-md-4
						img(src="img/portfolio/treehouse.png")
				.row
					.col-md-4
						img(src="img/portfolio/golden.png")
					.col-md-4
						img(src="img/portfolio/escape.png")
					.col-md-4
						img(src="img/portfolio/dreams.png")
		section.about
			.container
				h3 ABOUT
				p Lorem ipsum dolor sit, consectetur
				.row
					.col-lg-12
						ul
							li
								h5 2009-2011
								h5 Our Humble Beginnings
								p Lorem ipsum dolor sit, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero, sed, incidunt et ea quo dolore laudantium consectetur!
								img(src="img/about/1.jpg")
							li
								h5 MARCH 2011
								h5 An agency is Born
								p Lorem ipsum dolor sit, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero, sed, incidunt et ea quo dolore laudantium consectetur!
								img(src="img/about/2.jpg")
							li
							li
							li

